<div class="flex h-screen w-full justify-center items-center px-8 py-4">
  <div
    class="w-full h-full flex rounded-lg justify-center items-center lg:w-auto lg:h-auto lg:shadow-lg bg-[white]"
  >
    <div class="w-full h-full px-8 py-4">
      <router-outlet class="w-full h-full"></router-outlet>
    </div>
    <div class="w-full h-full hidden lg:flex p-0">
      <img
        src="assets/auth/menu.png"
        alt=""
        class="object-cover w-full h-full rounded-r-lg"
      />
    </div>
  </div>
</div>
