<div class="flex h-full w-full">
  <div class="w-full pr-5 overflow-y-auto">
    <h1 class="text-3xl font-bold flex justify-center mt-4">Etape 2 :</h1>
    <hr class="m-6" />
    <div class="vaguelette flex justify-center relative text-xl font-bold">
      <span class="relative" style="--i: 13">C</span>
      <span class="relative" style="--i: 14">h</span>
      <span class="relative" style="--i: 15">o</span>
      <span class="relative" style="--i: 16">i</span>
      <span class="relative" style="--i: 17">s</span>
      <span class="relative" style="--i: 18">i</span>
      <span class="relative" style="--i: 20">s t</span>
      <span class="relative" style="--i: 22">e</span>
      <span class="relative" style="--i: 24">s p</span>
      <span class="relative" style="--i: 26">r</span>
      <span class="relative" style="--i: 27">o</span>
      <span class="relative" style="--i: 28">d</span>
      <span class="relative" style="--i: 29">u</span>
      <span class="relative" style="--i: 30">i</span>
      <span class="relative" style="--i: 31">t</span>
      <span class="relative" style="--i: 33">s :</span>
    </div>
    <hr class="m-6" />
    <p>{{ day }}</p>
    <app-category-dropdown
      *ngFor="let category of categories"
      [name]="category.name"
      [isDeleted]="category.isDeleted"
      [products]="category.products"
      [day]="_day"
    >
    </app-category-dropdown>
  </div>
</div>
