coucou<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center h-full w-full z-50" *ngIf="showBasket">
  <div class="bg-white p-6 rounded-lg shadow-lg w-100">
    <div class="h-full p-4 bg-white shadow-2xl rounded-lg overflow-y-auto flex flex-col">
      <h1 class="text-3xl font-bold flex justify-center mt-4">Etape 3 :</h1>
      <hr class="m-6" />
      <div class="vaguelette flex justify-center relative text-xl font-bold">
        <span class="relative" style="--i: 34">R</span>
        <span class="relative" style="--i: 35">é</span>
        <span class="relative" style="--i: 36">c</span>
        <span class="relative" style="--i: 37">a</span>
        <span class="relative" style="--i: 38">p</span>
        <span class="relative" style="--i: 39">i</span>
        <span class="relative" style="--i: 40">t</span>
        <span class="relative" style="--i: 41">u</span>
        <span class="relative" style="--i: 42">l</span>
        <span class="relative" style="--i: 43">a</span>
        <span class="relative" style="--i: 44">t</span>
        <span class="relative" style="--i: 45">i</span>
        <span class="relative" style="--i: 47">f d</span>
        <span class="relative" style="--i: 50">e l</span>
        <span class="relative" style="--i: 51">a</span>
      </div>
      <div class="vaguelette flex justify-center relative text-xl font-bold">
        <span class="relative" style="--i: 37">c</span>
        <span class="relative" style="--i: 38">o</span>
        <span class="relative" style="--i: 39">m</span>
        <span class="relative" style="--i: 40">m</span>
        <span class="relative" style="--i: 41">a</span>
        <span class="relative" style="--i: 42">n</span>
        <span class="relative" style="--i: 43">d</span>
        <span class="relative" style="--i: 45">e :</span>
      </div>
      <hr class="m-6" />
      <!-- Liste des items sélectionnés -->
      <div class="max-h-60 overflow-y-auto flex-1 w-full space-y-4">
        <div
          *ngFor="let product of productsInBasket; let i = index"
          class="flex justify-between items-center bg-[#e2dfd3] p-3 rounded-md"
        >
          <span>{{ product.name }} - {{ product.price }}€</span>
          <button (click)="removeProduct(i)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-red-500 cursor-pointer"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.136 21H7.864a2 2 0 01-1.997-1.858L5 7m5 4v6m4-6v6M1 7h22m-5 0V5a2 2 0 00-2-2H9a2 2 0 00-2 2v2h12z"
              />
            </svg>
          </button>
        </div>
      </div>
      <!-- Bonton à congig -->
      <div class="flex justify-between mt-6 space-x-4">
        <button (click)="clearBasket()" class="bg-red-500 text-white py-2 px-4 rounded-md">
          Annuler
        </button>
        <button (click)="validateBasket()" class="bg-green-500 text-white py-2 px-4 rounded-md">
          Valider la commande
        </button>
        <button (click)="closeBasket()" class="bg-[#0692a2] text-white py-2 px-4 rounded-md">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>