<div class="flex h-[calc(100vh-64px)] bg-[#e2dfd3]">
  <div class="w-1/4 bg-[#0692a2] text-white p-4 justify-center font-bold">
    <h1 class="text-3xl flex justify-center mt-4">Etape 1 :</h1>
    <hr class="m-6" />
    <div class="vaguelette flex justify-center relative text-xl">
      <span class="relative" style="--i: 1">S</span>
      <span class="relative" style="--i: 2">e</span>
      <span class="relative" style="--i: 3">l</span>
      <span class="relative" style="--i: 4">c</span>
      <span class="relative" style="--i: 5">t</span>
      <span class="relative" style="--i: 6">i</span>
      <span class="relative" style="--i: 7">o</span>
      <span class="relative" style="--i: 8">n</span>
      <span class="relative" style="--i: 9">n</span>
      <span class="relative" style="--i: 11">e u</span>
      <span class="relative" style="--i: 12">n</span>
    </div>
    <div class="vaguelette flex justify-center relative text-xl">
      <span class="relative" style="--i: 5">j</span>
      <span class="relative" style="--i: 7">o</span>
      <span class="relative" style="--i: 8">u</span>
      <span class="relative" style="--i: 10">r :</span>
    </div>
    <hr class="m-6" />
    <div class="flex items-center justify-center">
      <!-- Faut automatiser les jours + afficher les dates-->
      <div class="space-y-10 w-3/4 pt-10">
        <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
          Jour 1
        </div>
        <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
          Jour 2
        </div>
        <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
          Jour 3
        </div>
        <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
          Jour 4
        </div>
        <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
          Jour 5
        </div>
      </div>
    </div>
  </div>
  <main class="flex-1 overflow-y-auto bg-[#e2dfd3] p-4">
    <h1 class="text-3xl font-bold flex justify-center mt-4">Etape 2 :</h1>
    <hr class="m-6" />
    <div class="vaguelette flex justify-center relative text-xl font-bold">
      <span class="relative" style="--i: 13">C</span>
      <span class="relative" style="--i: 14">h</span>
      <span class="relative" style="--i: 15">o</span>
      <span class="relative" style="--i: 16">i</span>
      <span class="relative" style="--i: 17">s</span>
      <span class="relative" style="--i: 18">i</span>
      <span class="relative" style="--i: 20">s t</span>
      <span class="relative" style="--i: 22">e</span>
      <span class="relative" style="--i: 24">s p</span>
      <span class="relative" style="--i: 26">r</span>
      <span class="relative" style="--i: 27">o</span>
      <span class="relative" style="--i: 28">d</span>
      <span class="relative" style="--i: 29">u</span>
      <span class="relative" style="--i: 30">i</span>
      <span class="relative" style="--i: 31">t</span>
      <span class="relative" style="--i: 33">s :</span>
    </div>
    <hr class="m-6" />
    <!-- Requête à la BDD -->
    <div class="grid grid-cols-5 gap-4">
      <div class="bg-white shadow-md rounded-lg p-4">Item 1</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 2</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 3</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 4</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 5</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 1</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 2</div>
      <div class="bg-white shadow-md rounded-lg p-4">Item 3</div>
    </div>
  </main>
  <div
    class="w-1/4 p-4 m-3 bg-white shadow-2xl rounded-lg overflow-y-auto flex flex-col"
  >
    <h1 class="text-3xl font-bold flex justify-center mt-4">Etape 3 :</h1>
    <hr class="m-6" />
    <div class="vaguelette flex justify-center relative text-xl font-bold">
      <span class="relative" style="--i: 34">R</span>
      <span class="relative" style="--i: 35">é</span>
      <span class="relative" style="--i: 36">c</span>
      <span class="relative" style="--i: 37">a</span>
      <span class="relative" style="--i: 38">p</span>
      <span class="relative" style="--i: 39">i</span>
      <span class="relative" style="--i: 40">t</span>
      <span class="relative" style="--i: 41">u</span>
      <span class="relative" style="--i: 42">l</span>
      <span class="relative" style="--i: 43">a</span>
      <span class="relative" style="--i: 44">t</span>
      <span class="relative" style="--i: 45">i</span>
      <span class="relative" style="--i: 47">f d</span>
      <span class="relative" style="--i: 50">e l</span>
      <span class="relative" style="--i: 51">a</span>
    </div>
    <div class="vaguelette flex justify-center relative text-xl font-bold">
      <span class="relative" style="--i: 37">c</span>
      <span class="relative" style="--i: 38">o</span>
      <span class="relative" style="--i: 39">m</span>
      <span class="relative" style="--i: 40">m</span>
      <span class="relative" style="--i: 41">a</span>
      <span class="relative" style="--i: 42">n</span>
      <span class="relative" style="--i: 43">d</span>
      <span class="relative" style="--i: 45">e :</span>
    </div>
    <hr class="m-6" />
    <!-- Liste des items sélectionnés -->
    <div class="flex-1 w-full space-y-4">
      <div
        class="flex justify-between items-center bg-[#e2dfd3] p-3 rounded-md"
      >
        <span>Article 1</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-red-500 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.136 21H7.864a2 2 0 01-1.997-1.858L5 7m5 4v6m4-6v6M1 7h22m-5 0V5a2 2 0 00-2-2H9a2 2 0 00-2 2v2h12z"
          />
        </svg>
      </div>
      <div
        class="flex justify-between items-center bg-[#e2dfd3] p-3 rounded-md"
      >
        <span>Article 2</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-red-500 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.136 21H7.864a2 2 0 01-1.997-1.858L5 7m5 4v6m4-6v6M1 7h22m-5 0V5a2 2 0 00-2-2H9a2 2 0 00-2 2v2h12z"
          />
        </svg>
      </div>
    </div>
    <!-- Bouton à config -->
    <div class="flex justify-center">
      <button class="w-3/4 bg-[#0692a2] text-white py-2 px-4 rounded-md mt-4">
        Valider la commande
      </button>
    </div>
  </div>
</div>
