<div 
  *ngIf="successMessage" 
  class="bg-green-500 text-white p-2 text-center fixed top-0 left-0 right-0 z-10 transition-transform transform -translate-y-10 animate-slide-in"
>
  {{ successMessage }}
</div>

<!-- Notification d'erreur -->
<div *ngIf="errorMessage" class="text-red-500 mb-2">
  {{ errorMessage }}
</div>

<div 
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
  (click)="closePopupOnClickOutside($event)" 
  (keydown.esc)="closePopup()"
  tabindex="0"
>
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg relative" (click)="$event.stopPropagation()">
    <div class="flex justify-between mb-4">
      <!-- Buttons to toggle between product and category -->
      <button 
        (click)="isProductForm = true" 
        [class.bg-blue-500]="isProductForm"
        class="px-4 py-2 text-white bg-gray-500 rounded hover:bg-blue-400"
      >
        Créer un Produit
      </button>
      <button 
        (click)="isProductForm = false" 
        [class.bg-blue-500]="!isProductForm"
        class="px-4 py-2 text-white bg-gray-500 rounded hover:bg-blue-400"
      >
        Créer une Catégorie
      </button>
    </div>

    <!-- Product Form -->
    <form *ngIf="isProductForm">
      <h2 class="text-lg font-bold mb-4">Créer un Produit</h2>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Nom du Produit</label>
        <input
          name = "productName"
          [(ngModel)]="productName"
          type="text" 
          class="w-full px-3 py-2 border border-gray-300 rounded" 
          placeholder="Nom du produit" 
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Prix</label>
        <input
          name = "productPrice"
          [(ngModel)]="productPrice"
          type="number" 
          class="w-full px-3 py-2 border border-gray-300 rounded" 
          placeholder="Prix du produit" 
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Image du Produit (Optionnel)</label>
        <input type="file" (change)="onFileSelected($event)" class="w-full px-3 py-2 border border-gray-300 rounded" />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Catégorie</label>
        <select
          class="w-full px-3 py-2 border border-gray-300 rounded" 
          [(ngModel)]="selectedCategory" 
          name="category"
        >
          <option *ngFor="let category of categories" [value]="category._id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Disponibilités</label>
        <div class="grid grid-cols-2 gap-2">
          <div class="flex items-center">
            <input 
              type="checkbox" 
              id="lundi" 
              (change)="onDayChange($event, 1)" 
              class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-400"
            />
            <label for="lundi" class="ml-2 text-sm text-gray-700">Lundi</label>
          </div>
          <div class="flex items-center">
            <input 
              type="checkbox" 
              id="mardi" 
              (change)="onDayChange($event, 2)" 
              class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-400"
            />
            <label for="mardi" class="ml-2 text-sm text-gray-700">Mardi</label>
          </div>
          <div class="flex items-center">
            <input 
              type="checkbox" 
              id="mercredi" 
              (change)="onDayChange($event, 3)" 
              class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-400"
            />
            <label for="mercredi" class="ml-2 text-sm text-gray-700">Mercredi</label>
          </div>
          <div class="flex items-center">
            <input 
              type="checkbox" 
              id="jeudi" 
              (change)="onDayChange($event, 4)" 
              class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-400"
            />
            <label for="jeudi" class="ml-2 text-sm text-gray-700">Jeudi</label>
          </div>
          <div class="flex items-center">
            <input 
              type="checkbox" 
              id="vendredi" 
              (change)="onDayChange($event, 5)" 
              class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-400"
            />
            <label for="vendredi" class="ml-2 text-sm text-gray-700">Vendredi</label>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="text-red-500 mb-2">
        {{ errorMessage }}
      </div>
      <button class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600" (click)="submitForm()">Enregistrer le Produit</button>
    </form>

    <!-- Category Form -->
    <form *ngIf="!isProductForm">
      <h2 class="text-lg font-bold mb-4">Créer une Catégorie</h2>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Nom de la Catégorie</label>
        <input 
          name = "categoryName"
          [(ngModel)]="categoryName"
          type="text" 
          class="w-full px-3 py-2 border border-gray-300 rounded" 
          placeholder="Nom de la catégorie" 
        />
      </div>
      <div *ngIf="errorMessage" class="text-red-500 mb-2">
        {{ errorMessage }}
      </div>
      <button class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600" (click)="submitFormCategory()">Enregistrer la Catégorie</button>
    </form>

    <!-- Close Button (Croix de fermeture) -->
    <button 
      (click)="closePopup()" 
      class="absolute top-0 right-1 text-red-500 hover:text-gray-700 text-2xl"
    >
      &times;
    </button>
  </div>
</div>
