<div
  class="h-full w-full md:w-[400px] bg-[#0692a2] text-white p-4 justify-center font-bold overflow-y-auto"
>
  <h1 class="text-3xl flex justify-center mt-4">Etape 1 :</h1>
  <hr class="m-6" />
  <div class="vaguelette flex justify-center relative text-xl">
    <span class="relative" style="--i: 1">S</span>
    <span class="relative" style="--i: 2">e</span>
    <span class="relative" style="--i: 3">l</span>
    <span class="relative" style="--i: 4">c</span>
    <span class="relative" style="--i: 5">t</span>
    <span class="relative" style="--i: 6">i</span>
    <span class="relative" style="--i: 7">o</span>
    <span class="relative" style="--i: 8">n</span>
    <span class="relative" style="--i: 9">n</span>
    <span class="relative" style="--i: 11">e u</span>
    <span class="relative" style="--i: 12">n</span>
  </div>
  <div class="vaguelette flex justify-center relative text-xl">
    <span class="relative" style="--i: 5">j</span>
    <span class="relative" style="--i: 7">o</span>
    <span class="relative" style="--i: 8">u</span>
    <span class="relative" style="--i: 10">r :</span>
  </div>
  <hr class="m-6" />
  <div class="flex items-center justify-center">
    <div class="flex flex-col gap-5 w-[240px]">
      @for (day of semaine; track $index) { @if (day.getDay() != 0 &&
      day.getDay() != 6) {
      <div
        class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center cursor-pointer hover:shadow-xl"
        routerLink="{{ day.getDay() }}"
        routerLinkActive="bg-white"
      >
        {{ day | date : "EEEE, MMMM d" }}
      </div>
      } }
    </div>
  </div>
</div>
