<div
  class="h-full w-[400px] bg-[#0692a2] text-white p-4 justify-center font-bold"
>
  <h1 class="text-3xl flex justify-center mt-4">Etape 1 :</h1>
  <hr class="m-6" />
  <div class="vaguelette flex justify-center relative text-xl">
    <span class="relative" style="--i: 1">S</span>
    <span class="relative" style="--i: 2">e</span>
    <span class="relative" style="--i: 3">l</span>
    <span class="relative" style="--i: 4">c</span>
    <span class="relative" style="--i: 5">t</span>
    <span class="relative" style="--i: 6">i</span>
    <span class="relative" style="--i: 7">o</span>
    <span class="relative" style="--i: 8">n</span>
    <span class="relative" style="--i: 9">n</span>
    <span class="relative" style="--i: 11">e u</span>
    <span class="relative" style="--i: 12">n</span>
  </div>
  <div class="vaguelette flex justify-center relative text-xl">
    <span class="relative" style="--i: 5">j</span>
    <span class="relative" style="--i: 7">o</span>
    <span class="relative" style="--i: 8">u</span>
    <span class="relative" style="--i: 10">r :</span>
  </div>
  <hr class="m-6" />
  <div class="flex items-center justify-center">
    <!-- Faut automatiser les jours + afficher les dates-->
    <div class="flex flex-col gap-5 w-[200px]">
      <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
        Lundi
      </div>
      <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
        Jour 2
      </div>
      <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
        Jour 3
      </div>
      <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
        Jour 4
      </div>
      <div class="bg-[#e2dfd3] text-black p-4 rounded-md flex justify-center">
        Jour 5
      </div>
    </div>
  </div>
</div>
