<div class="mt-10 flex flex-col gap-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-center">
    <app-dashboard-card
      [value]="5"
      description="Commandes en cours"
    ></app-dashboard-card>
    <app-dashboard-card
      [value]="5"
      description="Commandes traitées"
    ></app-dashboard-card>
    <app-dashboard-card
      [value]="5"
      description="Commandes annulées"
    ></app-dashboard-card>
  </div>

  <div class="flex flex-col gap-5">
    <div
      class="flex gap-5 sm:gap-10 text-gray-500 font-medium border-b border-gray-300 pb-2"
    >
      <a href="#" class="text-charte-blue">Tout</a>
      <a href="#" class="hover:text-teal-500">En cours</a>
      <a href="#" class="hover:text-teal-500">Traitee</a>
      <a href="#" class="hover:text-teal-500">Terminee</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-8 gap-y-5">
      <app-reservation-card></app-reservation-card>
      <app-reservation-card></app-reservation-card>
      <app-reservation-card></app-reservation-card>
      <app-reservation-card></app-reservation-card>
      <app-reservation-card></app-reservation-card>
      <app-reservation-card></app-reservation-card>
    </div>
  </div>
</div>
