<nav class="bg-white shadow-md p-4 flex justify-center items-center">
  <!-- Logo à gauche -->
  <div class="absolute left-4 flex items-center">
    <img src="path-to-logo.png" alt="Logo" class="h-8 w-8" />
  </div>

  <!-- Lien Dashboard et All products au centre -->
  <div class="flex items-center space-x-10 ml-auto"> <!-- Utilisez space-x-8 pour définir l'espace -->
    <div class=""><a href="#" routerLink="/" routerLinkActive="active" class="text-teal-500 text-lg font-medium hover:underline nav-link">Dashboard</a></div>
    <div class=""><a href="@" routerLink="products" routerLinkActive="active" class="hover:text-teal-500 font-medium nav-link">All products</a></div>
    <div class="h-8 w-8 rounded-full border border-gray-300 flex justify-center items-center">
      <!-- Cercle vide -->
    </div>
  </div>
</nav>

<div class="p-4 mt-10">
    <div class="grid grid-cols-3 gap-4 text-center">
       
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-3xl font-bold text-teal-500">#</h2>
        <p class="text-lg">commandes en cours</p>
      </div>
  
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-3xl font-bold text-teal-500">#</h2>
        <p class="text-lg">commandes traitées</p>
      </div>
  
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-3xl font-bold text-teal-500">#</h2>
        <p class="text-lg">commandes annulées</p>
      </div>
    </div>

    <div class="p-6 mt-20">
      <div class="flex space-x-8 text-gray-500 font-semibold border-b border-gray-300 pb-2">
        <a href="#" class="text-teal-500">Tout</a>
        <a href="#" class="hover:text-teal-500">En cours</a>
        <a href="#" class="hover:text-teal-500">Traitee</a>
        <a href="#" class="hover:text-teal-500">Terminee</a>
      </div>
      <div class="mt-8">
        <ul class="space-y-4">
        
          <li class="bg-white p-6 rounded-lg shadow-md flex justify-between items-center">
            <div>
              <p><strong>Nombre de produits :</strong> #</p>
              <p><strong>Date de la réservation :</strong>#</p>
              <p><strong>Date de paiement :</strong>#</p>
            </div>
    <div>
            <p class="text-xl font-semibold">Prix total: <span class="text-teal-500">#</span></p>
          </div>
        </li>
  
       
        <li class="bg-white p-6 rounded-lg shadow-md flex justify-between items-center">
          <div>
            <p><strong>Nombre de produits :</strong> #</p>
            <p><strong>Date de la réservation :</strong> #</p>
            <p><strong>Date de paiement :</strong> #</p>
          </div>
          <div>
            <p class="text-xl font-semibold">Prix total: <span class="text-teal-500">#</span></p>
          </div>
        </li>
  
        
      </ul>
    </div>
  </div>
  